::selection {
    background: rgb(200,200,200);
    color: rgb(30,30,30);
  }

body{
    margin: 0;
    background-color: rgb(30,30,30);
    color: rgb(200,200,200);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 0px;
    max-width: 100%; 
    max-height: 100vh;
    min-width: 100%; 
    min-height: 100vh;
    height: auto;
    width: auto;
}

footer:hover{
    transition: 0.3s;
    background-color: rgb(20,20,20);
}

header:hover{
    transition: 0.3s;
    background-color: rgb(20,20,20);
}

i:hover{
    color: rgb(100, 100, 100);
    transition: 0.3s;
}

section:hover{
    transition: 0.3s;
    background-color: rgb(20,20,20);
}

@media screen and (min-width: 425px) {
    body{
        grid-template-columns: 100%;
        grid-template-rows: 10% auto auto auto auto auto auto auto auto;
        max-width: 100%; 
    }

    div h3{
        font-size: 15px;
        margin: 0;
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    
    footer{
        grid-column-start: span 10;
        grid-row-start: 3;
        display: flex;
        border: rgb(69,69,69) 1px solid;
    }

    h1{
        margin: 0px 10px;
        font-size: 20px;
    }
    header{
        grid-column-start: span 10;
        grid-row-start: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: rgb(69,69,69) 1px solid;
    }

    html{
        overflow-x: hidden;
    }
    i{
        font-size: 20px;
        margin: 10px;
        transition: 0.3s;
    }
    section{
        display: flex;
        margin: 0px;
        padding: 10px;
        border: rgb(69,69,69) 1px solid;
    }

    .achievements{
        grid-column-start: 1;
        grid-row-start: 6;
    }

    .certification{
        grid-column-start:1;
        grid-row-start: 4;
    }

    .coffee{
        grid-column-start: 1;
        grid-row-start: 9;
    }

    .education{
        grid-column-start: 1;
        grid-row-start: 7;   
    }

    .footer-icon{
        transition: 0.3s;
        width: 20px; height: 20px; margin: 5px 10px;
    } 

    .experience{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .experience div{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-row: inherit;
    }

    .projects{
        grid-column-start: 1;
        grid-row-start: 5;
    }

    .testimonials{
        grid-column-start:1;
        grid-row-start: 8;
    }

}

