@media screen and (min-width: 768px) {
    body{
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: 10% 20% 20% 20% 20% 10%; 
    }

    div h3{
        font-size: 20px;
    }

    footer{
        grid-column-start: span 10;
        grid-row-start: 6;
        display: flex;
        border: rgb(69,69,69) 1px solid;
    }
    h1{
        margin: 0px 20px;
        font-size: 30px;
    }
    header{
        grid-column-start: span 10;
        grid-row-start: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: rgb(69,69,69) 1px solid;
    }
    html{
        overflow: hidden;
        max-height: 100vh;
    }
    i{
        font-size: 30px;
        margin: 20px;
        transition: 0.3s;
    }

    section{
        display: flex;
        margin: 0px;
        padding: 20px;
        border: rgb(69,69,69) 1px solid;
    }

    svg{
        height: 65px;
        width: 65px;
    }

    .achievements{
        grid-column: 4 / span 3;
        grid-row: 4 / span 2;
    }

    .achievements div{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto;
    }

    .projects{
        grid-column: 7 / span 4;
        grid-row: 4 / span 2;
    }

    .projects div{
        display: grid;
        width: 100%;
        grid-template-rows: 10% 90%;
        grid-template-columns: auto auto auto;
    }

    .education{
        grid-column: 6 / span 2;
        grid-row: 2 / span 2;    
    }

    .education div{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows:  10% auto auto auto;
        grid-gap: 5px;
    }

    .experience{
        grid-column: 1 / span 3;
        grid-row: 2 / span 4;
    }

    .experience div{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows:  10% auto auto auto auto auto;
        grid-gap: 5px;
    }

    .footer-icon{
        transition: 0.3s;
        width: 30px; height: 30px; margin: 0px 10px;
    } 
    .footer-icon:hover{
        transition: 0.3s;
        width: 39px; height: 39px; margin: 0px 10px;
    } 

    .coffee{
        grid-column: 4 / span 2;
        grid-row: 2 / span 2;
    }

    .coffee div{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% auto auto;
        grid-gap: 5px;
    }

    .certification{
        grid-column: 8 / span 3;
        grid-row: 2 / span 2;
    }

    .certification div{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
        width: 100%;
    }
}